/* Common CSS */
*{    
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
section{
    padding: 50px 0px;
}
.title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.container{
    width: 90%;
    margin: auto;
}
.text-primary{
    color: #E55473;
}
.btn-primary{
    
}
.btn{
    border-radius: 8px;
    background-color: #E55473;    
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: 0;
}
.description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
 
/* Header Section */
header{
    background: #f1c3cd;
}

.header-container{
    display: flex;
    padding-top: 100px;
}
.left-side{
    width: 50%;
}
.header-title{
    color: #272727;
    font-size: 70px;
    font-weight: 800;
}
.banner-img{
    max-width: 500px;
}

/* Feature Section */
.feature-section{

}
.feature-section > p{
    text-align: center;
}

/* Offer Section */
.offer-container{
    margin-top: 10px;
    display: flex;
    background-color: #f1c3cd ;
    text-align: center;
    padding: 50px 0;
}
.offer-container p{
    width: 600px;
}
.offer-img{
    width: 320px;
}