/* Common CSS */
*{    
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
main{
    display: block;
    justify-content: space-around;
    width: 80%;
}
section{
    padding: 50px 0px;
}
.title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.text-primary{
    color: #E55473;
}
.btn-primary{
    
}
.btn{
    border-radius: 8px;
    background-color: #E55473;    
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: 0;
}
.description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 600px;
}
 
/* Header Section */
header{
    background: #f1c3cd;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    width: 80%;
}
.left-side{
    width: 50%;
}
.header-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}
.header-container .left-side > p{
    text-align: left;
}
.banner-img{
    max-width: 500px;
}

/* Feature Section */
.feature-section{

}
.feature-section > p{
    text-align: center;
}

.bg-pr{
    position: relative;
    height: 400px;
    width: 350px;
    border-radius: 300px 300px 0px 0px;
    margin: 30px auto;
}

.bg-1{
    background: #a7216226;
}
.bg-2{
    background: #0597A026;
}
.bg-3{
    background: #477D1126;
}

.feature-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.feature-image{
    position: absolute;
    width: 60%;
    bottom: 0;
    left: 0;
    right: 0;
}
#feature-image{
    width: 80%;
}
.bg-2 .feature-image {
    position: absolute;
    width: 120px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.feature-image-link{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-top: 309px;
}
/* Offer Section */
.offer-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #f1c3cd ;
    text-align: center;
    padding: 50px 0;
    border-radius: 8px;
}
.offer-container p{
    width: 600px;
}
.offer-img{
    width: 320px;
}

.extra-feature-container{
    display: flex;
    padding: 30px 0px;
    margin-top: 90px;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.extra-features{

}
.feature-description{
    margin-top: 20px;
}
/* Image Gellery Section */
.img-gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img-gallery img{
    width: 250px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.144);
    margin-top: 30px;
}

.subscrib{
    background: url(img/Rectangle-9.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin: 100px 20px;
    text-align: center;  
    border-radius: 8px;  
}
.subscrib-content{
    padding-top: 100px;
}
.subscrib-content input[type="email"]{
    padding: 23px;
    border: 0;
    border-radius: 8px;
    width: 400px;
    margin-right: 15px;
}

/* Footer Section */
footer{
    
    
}
.footer-container{
    background: #0e0e27;
    padding: 100px;
}
.footer-container p, .footer-container h2{
    color: #FFFFFFE5;

}
.copyright{
    display: block;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    background-color: #0f0f3a;
    padding: 10px 0;
}








.feature-image-link{
    position: absolute;
    margin-top: 420px;
    left: 0;
    right: 0;
} 
.feature-image-link:hover{
    color: #E55473;
}